@keyframes div1 {
    0%   {top:50%;}
    100% {top:0px;}
  }

  .div1{
  position: relative;
  animation-name: div1;
  animation-duration: 2s;
  animation-iteration-count: 1;
  /* animation-fill-mode: forwards; */
  }

  @keyframes div2{
    0% {top:-10%;opacity: 0;}
    100% {top: 0px;opacity: 1;}
  }

  .div2{
    position: relative;
    animation-name: div2;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes select1{
  0%   {top: 60%;opacity: 0;}
  100% {top: 0%;opacity: 1;}
  }

  .select1{
    position: relative;
    animation-name: select1;
    display: block;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
  }